

@using (Html.BeginForm("SalvarParametros", "Parametro", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <div class="row">
        <!-- Column -->
        <div class="col-md-12">
            <div class="card">
                <!-- Tab panes -->
                <div class="card-body">
                    
                    <form class="form-horizontal form-material">
                        
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>    
}

